<app-header></app-header>
<section class="hero">
<div class="overlay">
  <h3 class="section-title">BMW</h3>
</div>
</section>

<section class="section">
  <div class="container">
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="''" class="fw-bold text-dark">Home</a></li>
        <li class="breadcrumb-item text-muted">Cars</li>
        <li class="breadcrumb-item text-muted">Electric</li>
        <li class="breadcrumb-item text-muted">BMW 250i</li>
      </ol>
    </nav>

    <div class="results-list">
      <div class="row">
        <div class="col-md-8">
          <div class="results-header">
          <h3 class="section-title">Ford Ranger Raptor 2023</h3>

            <div class="sort">
              <h3 class="section-title-red">$17600</h3>
            </div>
          </div>
<!--          Slick slider -->
          <div class="product-detail">
            <div class="default-img">
              <img id="defaultImg" [src]="'assets/images/cars/ford-a.jpg'" alt="">
            </div>
            <div class="thumbnails my-2">
            <div class="row">
              <div class="col-4">
                <div class="thumbnail">
                   <img class="smallImg" [src]="'assets/images/cars/ford-b.jpg'" alt="">
                </div>
                </div>
                <div class="col-4">
                <div class="thumbnail">
                   <img class="smallImg" [src]="'assets/images/cars/ford-c.jpg'" alt="">
                </div>
                </div>
                <div class="col-4">
                <div class="thumbnail">
                   <img class="smallImg" [src]="'assets/images/cars/ford-a.jpg'" alt="">
                </div>
              </div>
              </div>
            </div>
          </div>
<!--          Slick slider -->

          <div class="description my-3">
            <h4>Description</h4>
            <p>For those who need help with parking or negotiating tight
              off-road trails, the pick-up comes with a 360-degree camera
              with a split-view display that includes a top-down view around
              the vehicle, while a zoom button gives drivers a closer look at
              an obstacle near the vehicle when going off-road.</p>
          </div>
          <div class="specifications">
            <h4>Specifications</h4>
            <div class="row">
              <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-speedometer"></i></span>
                    <small>Millage</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">455</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-fuel-pump"></i></span>
                    <small>Engine</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">455</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-calendar-event"></i></span>
                    <small>Year</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">455</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-droplet-fill"></i></span>
                    <small>Fuel Consumption</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">455</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-fuel-pump"></i></span>
                    <small>Fuel Type</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">Diesel</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-fuel-pump"></i></span>
                    <small>Fuel Economy</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">15</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-palette-fill"></i></span>
                    <small>Exterior Color</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">Grey</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-palette-fill"></i></span>
                    <small>Interior Color</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">Black</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-cpu"></i></span>
                    <small>Transmission</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">Manual</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-power"></i></span>
                    <small>Horse Power</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">450</h6>
                  </div>
                </div>
                <hr>
              </div>
               <div class="col-md-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <span><i class="bi bi-fuel-pump"></i></span>
                    <small>Drive</small>
                  </div>
                  <div class="value">
                    <h6 class="fw-bold">4WD</h6>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="features">
            <h4>Features</h4>

            <div class="row">
              <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Airbags</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Alloy Wheel</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Bluetooth</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Immobilizer</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>MP3</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Navigation System</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Electric Side Mirror</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Parking Sensor</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Sport Package</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Streaming Services</small>
                </div>
              </div>
               <div class="col-md-3">
                <div class="d-flex gap-4 mb-2">
                  <span>
                    <i class="i bi bi-check"></i>
                  </span>
                  <small>Superchargers</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="promo-card text-center">
              <h3 class="">Special Deal for Today</h3>
              <h5>10% Off for New Volvo Model V6</h5>
            <a [routerLink]="''" class="promo-cta">Details</a>
          </div>

          <div class="contact-us mt-5 text-center">
            <h3 class="section-title">Contact Us</h3>
            <h5 class="my-5">Need further Discussions?</h5>
            <a [routerLink]="''" class="contact-cta bg-gradient-danger">Details</a>
          </div>

<!--          Contact Dealer -->
          <div class="contact-dealer my-5 text-center">
            <h4>Contact Dealer</h4>

            <div class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <span class="icon">
                  <i class="bi bi-envelope"></i>
                </span>
                <div class="ms-2 me-auto">
                  <div class="fw-bold text-start">Email</div>
                  dealerone@gmail.com
                </div>
              </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                <span class="icon">
                  <i class="bi bi-telephone"></i>
                </span>
                <div class="ms-2 me-auto">
                  <div class="fw-bold text-start">Mobile</div>
                  +263 773 000 340
                </div>
              </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                <span class="icon">
                  <i class="bi bi-geo-alt"></i>
                </span>
                <div class="ms-2 me-auto">
                  <div class="fw-bold text-start">Visit Office</div>
                  5432 Garfield St, Harare, ZW
                </div>
              </li>
            </div>
          </div>
<!--          Contact Dealer -->
            <div class="featured-side-list mb-4 text-center">
               <h4>Featured Cars</h4>
              <a [routerLink]="'/detail'" class="featured-side-list-item d-flex gap-4">
                <div class="featured-thumb">
                  <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
                </div>
                <div class="p-0 m-0 text-start">
                  <h6 class="p-0 m-0">Benz C200</h6>
                  <h5 class="m-0 p-0">$13000</h5>
                </div>
              </a>
                <a [routerLink]="'/detail'" class="featured-side-list-item d-flex gap-4">
                  <div class="featured-thumb">
                    <img [src]="'assets/images/cars/aston.jpg'" alt="benz">
                  </div>
                  <div class="p-0 m-0 text-start">
                    <h6 class="p-0 m-0">Aston Martin</h6>
                    <h5 class="m-0 p-0">$22000</h5>
                  </div>
                </a>
                <a [routerLink]="'/detail'" class="featured-side-list-item d-flex gap-4">
                  <div class="featured-thumb">
                    <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
                  </div>
                  <div class="p-0 m-0 text-start">
                    <h6 class="p-0 m-0">Benz s500</h6>
                    <h5 class="m-0 p-0">$43000</h5>
                  </div>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
