<app-header></app-header>
<section class="dealer-hero">
<div class="container h-100">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-2">
          <div class="dealer-avatar">
            <img [src]="'assets/images/placeholder.png'" alt="avatar">
          </div>
        </div>
        <div class="col-md-10">
          <div class="list-group list-group-flush dealer-contact-details bg-transparent">
            <h3 class="list-group-item border-0 section-title bg-transparent">Dear Name</h3>
            <h4 class="list-group-item border-0 designation bg-transparent">Company | Individual</h4>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-telephone"></i>
              <a>+263 771 000 000</a>
            </div>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-envelope"></i>
              <a>sales@dealer.com</a>
            </div>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-geo-alt"></i>
              <a>0000 Industrial Park, Harare, Zimbambwe</a>
            </div>
             <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-globe-europe-africa"></i>
              <a>www.dealerweb.co.zw</a>
            </div>
          </div>
        </div>
      </div>

      <div class="my-4">
        <p>At Car Dealers, we pride ourselves on being your one-stop destination
        for all your automotive needs. As a premier car dealer,
        we offer an extensive selection of top-quality, reliable
        vehicles to suit every budget and lifestyle.
        With our vast inventory of new and pre-owned cars, you can enjoy the luxury of choice.
        Our team of knowledgeable and friendly sales professionals is committed to helping
        you find the perfect car that meets your specific requirements. We understand that
        purchasing a vehicle is a significant decision, and we strive to make your experience
        seamless and stress-free.</p>
      </div>
    </div>
    <div class="col-md-5 red-bg-color py-4">
      <div class="contact-form-dealer">
        <form class="contact-dealer w-100">
           <h4 class="text-white fw-medium">Message us direct</h4>
          <div class="mb-3 mt-4">
            <label for="name" class="form-label text-white">Fullname</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-white">Email Address</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Message" id="message" style="height: 100px"></textarea>
            <label for="message">Message</label>
          </div>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Dealers Collection -->
<section class="section my-5 py-5">
  <div class="container">
    <h3 class="section-title">Our Collection</h3>

    <div class="row">
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
       <a [routerLink]="'/detail'" class="col-md-3">
        <div class="collection-card">
          <img [src]="'assets/images/cars/benz.jpg'" alt="benz">
          <div class="details">
            <h4>Model S500</h4>
            <h6>Mercedes Benz</h6>
            <h4 class="price">$21000</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<app-footer></app-footer>
