<app-header></app-header>
<section class="hero">
<div class="overlay">
  <h3 class="section-title">Explore</h3>
</div>
</section>

<!-- Search block -->
<section class="section">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="''" class="fw-bold text-dark">Home</a></li>
        <li class="breadcrumb-item text-muted">Inventory</li>
      </ol>
    </nav>
      <form class="search-form">
           <div class="row">
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Make</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Model</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Condition</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Transmission</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Body</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Drive</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Fuel type</option>
                </select>
             </div>
             <div class="col-md-3 mb-4">
                <select class="form-select" >
                  <option>Color</option>
                </select>
             </div>
           </div>
      </form>
  </div>
</section>
<!-- Search block two -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
      <form class="all-search-form">
        <div class="row">
          <div class="col-10">
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Enter vehicle type..">
            </div>
          </div>
          <div class="col-2">
              <button class="btn bg-gradient-danger">Search</button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-7">
<!--      Toggle feed -->
        <feedtoggler></feedtoggler>
    </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="section-title">BMW</h3>
<!--    Results header -->
    <div class="results-header d-flex justify-content-between flex-wrap">
    <h5 class="fw-medium">We have found 23 results for BMW</h5>

      <div class="sort" style="width: 150px;">
        <form>
           <select class="form-select" >
            <option>Sort by</option>
          </select>
        </form>
      </div>
    </div>

    <div class="results-list">
      <div class="row">
<!--        Main column -->
        <div class="col-md-9">
         <feed [apiUrl]="apiUrl"></feed>
        </div>

<!--        Side column -->
        <div class="col-md-3">
          <div class="promo-card text-center">
              <h3 class="">Special Deal for Today</h3>
              <h5>10% Off for New Volvo Model V6</h5>
            <a [routerLink]="''" class="promo-cta">Details</a>
          </div>

          <div class="contact-us mt-5 text-center">
            <h3 class="section-title">Contact Us</h3>
            <h5 class="my-5">Need further Discussions?</h5>
            <a [routerLink]="''" class="contact-cta bg-gradient-danger">Details</a>
          </div>
          <populartags></populartags>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
