<app-header></app-header>
<section class="hero contact-hero">
<div class="overlay">
  <h3 class="section-title">Contact Us</h3>
</div>
</section>
<section class="section my-5">
  <div class="container">
   <div class="col-md-8 mx-auto">
      <div class="row">
      <div class="col-md-6">
        <div class="list-group list-group-flush dealer-contact-details contact-us">
            <h3 class="list-group-item border-0 mt-4">Call or Visit</h3>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-telephone"></i>
              <a>+263 771 000 000</a>
            </div>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-envelope"></i>
              <a>inquiries@autodeals.com</a>
            </div>
            <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-geo-alt"></i>
              <a>0365 Mann, Harare, Zimbambwe</a>
            </div>
             <div class="list-group-item d-flex gap-4 border-0">
              <i class="bi bi-globe-europe-africa"></i>
              <a>www.autodeals.com</a>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <form class="contact-us w-100">
           <h3 class="mt-4">For inquiries or any feedback</h3>
           <h5>Leave us a direct message</h5>
          <div class="mb-3 mt-4">
            <label for="name" class="form-label text-dark">Fullname</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-dark">Email Address</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Message" id="message" style="height: 100px"></textarea>
            <label for="message">Message</label>
          </div>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div>
    </div>
   </div>
  </div>
</section>
<app-footer></app-footer>
