<!--  Table -->
  <div class="row mt-4">
        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="card mb-4 z-index-2 h-100">
            <div class="card-header pb-0 d-flex justify-content-between">
             <p class="text-uppercase text-sm">Roles</p>

            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <div class="alert bg-gradient-faded-danger" *ngIf="errorMessage$ | async as errorMessage">
                  {{ errorMessage }}
                </div>
                <table class="table align-items-center mb-0" *ngIf="roles$ | async as roles">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let role of roles">
                    <td>
                      <p class="text-xs ms-3 font-weight-bold mb-0">{{ role.name | titlecase }}</p>
                    </td>
                    <td>
                      <p class="text-xs text-secondary mb-0">{{ role.description }}</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">23/04/23</span>
                    </td>
                    <td class="align-middle">
                      <a [routerLink]="''" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit role">
                        Edit
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--  Table -->

