<app-header></app-header>
<section class="hero about-hero">
<div class="overlay">
  <h3 class="section-title">Our Pricing</h3>
</div>
</section>
<section class="section my-5 py-5 pricing-section">
  <div class="container">
    <div class="col-md-10 mx-auto">
      <div class="mb-6">
        <h3 class="section-title text-center">Our Pricing</h3>
      <p class="text-center">Choose a package that suits you.</p>
      </div>
       <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <h2>Basic</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>3</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="bi bi-check" aria-hidden="true"></i>1 Vehicle</li>
                  <li><i class="bi bi-x" aria-hidden="true"></i>Bump Up</li>
                  <li><i class="bi bi-x" aria-hidden="true"></i>Social Media Posting</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Live Support</li>
                </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <h2>Standard</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>20</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="bi bi-check" aria-hidden="true"></i>10 Cars</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>5 Bumped up</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Social Media Posting</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Live Support</li>
                </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <h2>Premium</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>50</h4>
              </div>
              <div class="option">
                <ul>
                 <li><i class="bi bi-check" aria-hidden="true"></i>30 Cars</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Unlimited Bump up</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Social Media Posting</li>
                  <li><i class="bi bi-check" aria-hidden="true"></i>Live Support</li>
                </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
