<footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <a [routerLink]="''" class="footer-site-logo">Auto - Deals</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p>
        </div>
        <div class="col-md-3 ms-auto">
          <h3>Shop</h3>
          <ul class="list-unstyled links">
            <li><a [routerLink]="''">Sell online</a></li>
            <li><a [routerLink]="''">Features</a></li>
            <li><a [routerLink]="''">Promotions</a></li>
            <li><a [routerLink]="''">Website editors</a></li>
            <li><a [routerLink]="''">Online retail</a></li>
          </ul>
        </div>
        <div class="col-md-3 ms-auto">
          <h3>Press</h3>
          <ul class="list-unstyled links">
            <li><a [routerLink]="''">Events</a></li>
            <li><a [routerLink]="''">News</a></li>
            <li><a [routerLink]="''">Awards</a></li>
            <li><a [routerLink]="''">Testimonials</a></li>
            <li><a [routerLink]="''">Online retail</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>About</h3>
          <ul class="list-unstyled links">
            <li><a [routerLink]="''">Contact</a></li>
            <li><a [routerLink]="''">Services</a></li>
            <li><a [routerLink]="''">Team</a></li>
            <li><a [routerLink]="''">Career</a></li>
            <li><a [routerLink]="''">Contacts</a></li>
          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 pb-4">
          <div class="line"></div>
        </div>
        <div class="col-md-6 text-md-start">
          <ul class="list-unstyled link-menu nav-end">
            <li><a [routerLink]="''">Privacy Policy</a></li>
            <li><a [routerLink]="''">Terms &amp; Conditions</a></li>
            <li><a [routerLink]="''">Code of Conduct</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-md-end">
          <ul class="list-unstyled social nav-end">
            <li><a [routerLink]="''"><span class="bi bi-twitter"></span></a></li>
            <li><a [routerLink]="''"><span class="bi bi-instagram"></span></a></li>
            <li><a [routerLink]="''"><span class="bi bi-facebook"></span></a></li>
            <li><a [routerLink]="''"><span class="bi bi-pinterest"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <p><small>Copyright &copy; Auto Deals {{ currentYear }}. All Rights Reserved  </small></p>
        </div>
      </div>
    </div>
</footer>
