<app-header></app-header>
<section class="hero about-hero">
<div class="overlay">
  <h3 class="section-title">About Us</h3>
</div>
</section>
<div class="col-md-8 mx-auto about-us-sub-section">
  <div class="row">
    <div class="col-md-4">
      <div class="card about-us-card">
        <div class="row">
          <div class="col-2">
            <div class="card-icon">
              <i class="bi bi-currency-dollar"></i>
            </div>
          </div>
          <div class="col-10">
            <h4>Affordable Pricing</h4>
            <p>We understand that every customer's needs are unique.
              That's why we offer a range of customizable options to suit
              your specific requirements. Whether you're a small business
              or an individual, our flexible pricing options allow you
              to tailor our services to fit your budget.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card about-us-card">
          <div class="row">
          <div class="col-2">
            <div class="card-icon">
              <i class="bi bi-headset"></i>
            </div>
          </div>
          <div class="col-10">
             <h4>24/7 Support</h4>
            <p>We offer 24/7 online support to better serve your needs.
              You can conveniently reach out to us at any time, day or night,
              from the comfort of your own home or office. Whether you have a
              technical question, need help navigating our website, or require
              assistance with a specific product or service, our team is here to help.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card about-us-card">
        <div class="row">
          <div class="col-2">
            <div class="card-icon">
            <i class="bi bi-columns-gap"></i>
            </div>
          </div>
          <div class="col-10">
             <h4>User friendly</h4>
            <p>Our website is designed with user-friendliness in mind.
              Whether you're a new visitor or a returning user, navigating our website will be a breeze.
              We have implemented clear menus, organized content, and simplified processes to ensure that
              you can easily find the information and services you need.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section my-5 py-5">
  <div class="container">
    <h3 class="section-title text-center">What <span class="text-danger">Auto Deals</span> is all about</h3>

   <div class="list-group list-group-flush about-us-list col-md-8 mx-auto">
  <a class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <div class="mb-1">
        <i class="bi bi-tags-fill"></i>
      </div>
      <small></small>
    </div>
    <p class="mb-1">Sell a car</p>
    <small>Our website serves as a platform for individuals and businesses to advertise their cars.
      Whether you want to sell, rent or simply show off your car, we got you covered.
      Our website is accessible to everyone, so anyone who is interested in buying cars
      or looking for unique cars is able to find your advertisement.
      You can easily create an account on our website and start advertising your car or cars today!</small>
  </a>
  <a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div class="mb-1">
        <i class="bi bi-car-front-fill"></i>
      </div>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1">Buy a car</p>
    <small class="text-muted">Maybe your are not the one selling but would want to buy a vehicle for business or personal use. This platform is your destination.
    With easy functionality to search through the hundreds of vehicles uploaded on this platform. Go ahead and try it out.</small>
  </a>
  <a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div class="mb-1">
        <i class="bi bi-gear-wide-connected"></i>
      </div>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1">Looking for a service?</p>
    <small class="text-muted">Are you a motor mechanic, an auto electrician, a panel beater
      or any other profession and are willing to broaden your customer base?. This site is
      for you too. Register today and this platform will ensure you get know beyond the contact list on your phone.</small>
  </a>
</div>
  </div>
</section>

<section class="section my-5 py-5">
  <div class="container">
    <div class="text-center">
      <button [routerLink]="'/pricing'" class="btn bg-gradient-danger text-white text-uppercase">View our packages</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
